<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>iPortfolio Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  {% import "bootstrap/wtf.html" as wtf %}

  <!-- Favicons -->
  <link href="static/img/favicon.ico" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">


  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>


</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="static/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Natalia Gonçalves</a></h1>
        <div class="social-links mt-3 text-center">
           <a href="https://www.linkedin.com/in/nagair-natalia-goncalves/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          <a href="https://github.com/natalia-gcvs" class="github"><i class="bi bi-github"></i></a>
          <a href="#contact" class="email"><i class="bi bi-envelope"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a href="#testimonials" class="nav-link scrollto"><i class="bx bi-pc-display-horizontal"></i> <span>Blog</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Natalia Gonçalves</h1>
      <p><span class="typed" data-typed-items="Data Scientist"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Sobre mim</h2>
        </div>

        <div class="row">
            <p>Bem-vindo ao meu portfólio de ciência de dados! Meu nome é Natália,
              e sou um cientista de dados com um forte background em matemática e programação, eu trago um olhar
              analítico para os problemas e a capacidade de desenvolver modelos preditivos precisos e escaláveis.</p>

              <p>Sou apaixonado por usar dados para impulsionar decisões de negócios e resolver problemas complexos.
              Minha missão é ajudar as organizações a tomar decisões melhores por meio de insights e análises baseados
              em dados.</p>

              <p>Acredito que a ciência de dados tem o poder de transformar a maneira como fazemos negócios
              e tornar o mundo um lugar melhor. Através do meu trabalho, meu objetivo é criar mudanças e impacto positivos,
              ajudando as organizações a tomar decisões mais informadas.</p>

              <p>Meu portfólio mostra alguns dos projetos em que trabalhei, incluindo [liste alguns de seus projetos e
              descreva brevemente o que são]. Eu me especializo em machine learning, visualização de dados e
              estou constantemente aprendendo e melhorando minhas habilidades para me manter atualizado com os últimos
              desenvolvimentos no campo.</p>

              <p>Obrigado por visitar meu portfólio. Se você estiver interessado em trabalhar juntos ou tiver alguma dúvida,
              não hesite em entrar em contato. Espero conectar com você!</p>

        </div>


      </div>
    </section><!-- End About Section -->


    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Navegue pelo meu portfólio para conhecer mais sobre meus projetos e habilidades em ciência de dados</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-class">Classification</li>
              <li data-filter=".filter-regr">Regression</li>
              <li data-filter=".filter-unsup">Unsupervised</li>

            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-class">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/1-telco-churn-proj.jpg" class="img-fluid same-size-img" alt="">
              <div class="portfolio-links">
                <a href="https://github.com/natalia-gcvs/churn-dashboard/tree/main#readme" title="Leia mais"><h6>Telecom Customer Churn</h6></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-class">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/work_in_progress.jpg" class="img-fluid same-size-img" alt="">
              <div class="portfolio-links">
                <a href="portfolio-details.html" title="Leia mais"><h6>Work in progress</h6></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-class">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/work_in_progress.jpg" class="img-fluid same-size-img" alt="">
              <div class="portfolio-links">
                <a href="portfolio-details.html" title="Leia mais"><h6>Work in progress</h6></a>
              </div>
            </div>
          </div>

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-regr">-->
<!--            <div class="portfolio-wrap">-->
<!--              <img src="static/img/portfolio/work_in_progress.jpg" class="img-fluid same-size-img" alt="">-->
<!--              <div class="portfolio-links">-->
<!--                <a href="portfolio-details.html" title="leia mais"><h6>Work in progress</h6></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-regr">-->
<!--            <div class="portfolio-wrap">-->
<!--              <img src="static/img/portfolio/work_in_progress.jpg" class="img-fluid same-size-img" alt="">-->
<!--              <div class="portfolio-links">-->
<!--                <a href="portfolio-details.html" title="Leia mais"><h6>Work in progress</h6></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-regr">-->
<!--            <div class="portfolio-wrap">-->
<!--              <img src="static/img/portfolio/work_in_progress.jpg" class="img-fluid same-size-img" alt="">-->
<!--              <div class="portfolio-links">-->
<!--                <a href="portfolio-details.html" title="More Details"><h6>Work in progress</h6></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-unsup">-->
<!--            <div class="portfolio-wrap">-->
<!--              <img src="static/img/portfolio/work_in_progress.jpg" class="img-fluid same-size-img" alt="">-->
<!--              <div class="portfolio-links">-->
<!--                <a href="portfolio-details.html" title="More Details"><h6>Work in progress</h6></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-unsup">-->
<!--            <div class="portfolio-wrap">-->
<!--              <img src="static/img/portfolio/work_in_progress.jpg" class="img-fluid same-size-img" alt="">-->
<!--              <div class="portfolio-links">-->
<!--                <a href="portfolio-details.html" title="More Details"><h6>Work in progress</h6></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-unsup">-->
<!--            <div class="portfolio-wrap">-->
<!--              <img src="static/img/portfolio/work_in_progress.jpg" class="img-fluid same-size-img" alt="">-->
<!--              <div class="portfolio-links">-->
<!--                <a href="portfolio-details.html" title="More Details"><h6>Work in progress</h6></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

        </div>

      </div>
    </section><!-- End Portfolio Section -->


    <!-- ======= Blog Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Blog</h2>
          <p>Aqui eu compartilho meu conhecimento e experiência em diversas áreas relacionadas à análise de dados,
            machine learning, visualização de dados e muito mais. Este é um espaço para aprender, discutir e se
            inspirar em projetos interessantes e desafios que enfrentamos no mundo dos dados. Espero que você encontre
            informações valiosas aqui e não hesite em entrar em contato comigo se tiver alguma dúvida ou sugestão para
            novos tópicos.</p>
          </div>
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-4">
                  <div class="card">
                    <img src="https://miro.medium.com/v2/resize:fit:1400/format:webp/1*KM8vI1ZZ9FS60gxX69A43A.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><a href="https://medium.com/@nagair.goncalves/build-a-python-web-scraper-with-beautiful-soup-b2adc331f190">Web Scraping</a></h5>
                      <p class="card-text">Este artigo apresenta uma introdução ao web scraping, técnica utilizada para
                        coletar dados da internet. O tutorial mostra como extrair dados
                        de um website usando as bibliotecas Beautiful Soup e Requests.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card">
                    <img src="static/img/portfolio/coming-soon.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Item 2</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card">
                    <img src="static/img/portfolio/coming-soon.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Item 3</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-4">
                  <div class="card">
                    <img src="static/img/portfolio/coming-soon.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Item 4</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card">
                    <img src="static/img/portfolio/coming-soon.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Item 5</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card">
                    <img src="static/img/portfolio/coming-soon.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Item 6</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>


      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Quer conversar sobre um projeto, tirar uma dúvida ou simplesmente dizer olá? Fique à vontade para entrar
            em contato comigo através do formulário abaixo ou pelo meu e-mail. Será um prazer conversar com você!</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">

            <div class="info">

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>natalia.gcvs@gmail.com</p>
              </div>

            </div>

          </div>


          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">

            <div class="container">

            <form id="contact-form", class="contact-form"  method="post" onsubmit="clearFormAndShowMessage()">
              {{ form.csrf_token }}

              <div class="row gy-4">
                <div class="col-md-6">
                  <input type="text" class="form-control" id="{{ form.name.id }}" name="{{ form.name.name }}" placeholder="Your Name" required>
                </div>

                <div class="col-md-6 ">
                  <input type="text" class="form-control" id="{{ form.email.id }}" name="{{ form.email.name }}" placeholder="Your Email" required>
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" id="{{ form.subject.id }}" name="{{ form.subject.name }}" placeholder="Subject" required>
                </div>

                <div class="col-md-12">
                  <textarea type="text" class="form-control" id="{{ form.message.id }}" name="{{ form.message.name }}" placeholder="Message" rows="6" required></textarea>
                </div>

                <div class="col-md-12 text-center">
                  </div>
                     {{ wtf.form_field(form.submit, button_type="submit", button_map={"submit": "primary"}) }}
                </div>
            </form>
              <script>
                function clearFormAndShowMessage() {

                 // Display success message
                  alert("Message sent successfully!");

                  // Submit the form
                  document.getElementById("contact-form").submit();

                  // Clear form fields
                  document.getElementById("contact-form").reset();


                }
              </script>

              </div>
            </div>

          </div>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/typed.js/typed.min.js"></script>
  <script src="static/vendor/waypoints/noframework.waypoints.js"></script>


  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>